

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>No of Bus Tickets</label><select id="drpnoOfBusTickets" class="form-control input-sm" name="Hotel.noOfBusTickets">
                <option>-Select No Of Bus Tickets-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Leaving From</label><input type="text" id="txtleavingFrom" class="form-control input-sm" name="Hotel.leavingFrom" placeholder="Enter Leaving From">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Going To</label><input type="text" id="txtgoingTo" class="form-control input-sm" name="Hotel.goingTo" placeholder="Enter Going To">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Bus Type</label><select id="drpbusType" class="form-control input-sm" name="Hotel.busType">
                <option>-Select Bus Type-</option>
                <option>AC</option>
                <option>Non AC</option>
                <option>Public Transport</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Depart Date</label><input type="text" id="dtpdepartDate" class="form-control datepicker" name="Hotel.departDate">
        </div>
    </div>


    <div class="col-md-1">
        <div class="form-group">
            <br>
            <button type="button" id="btnAddRoom" class="btn btn-default bg-blue">+</button>
        </div>
    </div>

</div>

<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblBusDetails">
            <thead>
                <tr>
                    <th>No of Ticket</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Ticket Type</th>
                    <th>Depart Date</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mumbai</td>
                    <td>Delhi</td>
                    <td>AC</td>
                    <td>20-11-2016</td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kolkata</td>
                    <td>Chennai</td>
                    <td>Non Ac</td>
                    <td>18-12-2016</td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Delhi</td>
                    <td>Kolkata</td>
                    <td>B.E.S.T</td>
                    <td>1-12-2016</td>
                    <td>Edit/Delete</td>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>

</div>
