

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>No of Bus Tickets</label><select id="drpnoOfBusTickets" class="form-control input-sm" name="Hotel.noOfBusTickets"><option value>-Select -noOfBusTickets-</option></select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Leaving From</label><input type="text" id="txtleavingFrom" class="form-control input-sm" name="Hotel.leavingFrom" placeholder="Enter Leaving From">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Going To</label><input type="text" id="txtgoingTo" class="form-control input-sm" name="Hotel.goingTo" placeholder="Enter Going To">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Bus Type</label><select id="drpbusType" class="form-control input-sm" name="Hotel.busType"><option value>-Select -busType-</option></select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Depart Date</label><input type="text" id="dtpdepartDate" class="form-control datepicker" name="Hotel.departDate">
        </div>
    </div>


    <div class="col-md-1">
        <div class="form-group">
            <br>
            <button type="button" id="btnAddRoom" class="btn btn-default bg-blue">+</button>
        </div>
    </div>

</div>

<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">
            <thead>
                <tr>
                    <th width="15%">Location</th>
                    <th width="15%">Hotel Type</th>
                    <th width="15%">Room Type</th>
                    <th width="5%">No Of Guests</th>
                    <th width="5%">Room Count</th>
                    <th width="15%">Hotel Name</th>
                    <th width="10%">Budget</th>
                    <th width="10%">Check in</th>
                    <th width="10%">Check out</th>
                    <th width="5%">Action</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>

</div>
