


<div class="row">

    <div class="col-md-2">
        <label>ToLocation</label>
        <div class="form-group">
            <input type="text" id="txttoLocation" class="form-control input-sm" name="Enquiry.toLocation" placeholder="Enter To Location">
        </div>

    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>To Date</label>
            <input type="text" id="txtLocation" class="form-control input-sm" name="Enquiry.destination" placeholder="Enter Depart Date">
        </div>
    </div>

</div>

<div class="row">


    <div class="col-md-2">
        <div class="form-group">
            <input type="checkbox" id="chkhotel" name="Enquiry.hotel" checked>
            <label> Hotel </label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <input type="checkbox" id="chkflight" name="Enquiry.flight">
            <label> Flight </label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <input type="checkbox" id="chktrain" name="Enquiry.train">
            <label> Train </label>
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <input type="checkbox" id="chkbus" name="Enquiry.bus">
            <label> Bus </label>
        </div>
    </div>


    <div class="col-md-2">
        <div class="form-group">
            <input type="checkbox" id="chkvehicle" name="Enquiry.vehicle">
            <label> Vehicle </label>
        </div>
    </div>

</div>




