
<div class="row">
 
    <div class="col-md-2">
        <div class="form-group">
            <label>Flight Name</label><input type="text" id="txtflightName" class="form-control input-sm" name="Hotel.flightName" placeholder="Enter Flight Name">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Ticket Type</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select Ticket Type-</option>
                <option>Business</option>
                <option>First</option>
                <option>Economy</option>

            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Source </label><input type="text" id="txtsource" class="form-control input-sm" name="Hotel.leavingFrom" placeholder="Enter Source ">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Destination</label><input type="text" id="txtgoingTo" class="form-control input-sm" name="Hotel.goingTo" placeholder="Enter Destination">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Is Round Trip</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType">
                <option>-Select-</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Departure Date/Time.</label><input type="text" id="dtpdepartureDateWithTime" class="form-control input-sm datepicker" name="Hotel.departureDateWithTime" placeholder="Departure Date / Time">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Arrival Date/Time.</label><input type="text" id="dtparrivalDateWithTime" class="form-control input-sm datepicker" name="Hotel.arrivalDateWithTime" placeholder="Arrival Date / Time">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Adults Count</label><input type="text" id="txtAdultCount" class="form-control input-sm" name="Hotel.adultCount" placeholder="Enter adult count">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Children Count</label><input type="text" id="txtChildrenCount" class="form-control input-sm" name="Hotel.ChildrenCount" placeholder="Enter Children count">
        </div>
    </div> 

    <div class="col-md-2">
        <div class="form-group">
            <label>Budget</label>
            <input type="text" id="txtbudget" class="form-control input-sm" name="Hotel.budget" placeholder="Enter Budget">
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            <br>
            <button type="button" id="btnAddRoom" class="btn btn-default bg-blue">+</button>
        </div>
    </div>

</div>

<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">
            <thead>
                <tr>
                    <th>Flight Name</th>
                    <th>Ticket Type</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Round Trip</th>
                    <th>Departure Date Time</th>
                    <th>Arrival Date Time</th>
                    <th>Adults Count</th>
                    <th>Children Count</th>
                    <th>Budget</th>
                    <th>Action</th>
                </tr>
                <tr>
                   
                    <td>Air India</td>
                    <td>Business</td>
                    <td>Mumbai</td>
                    <td>Goa</td>
                    <td>No</td>
                    <td>1-11-2016 / 4pm</td>
                    <td>1-11-2016 / 7pm</td>
                    <td>2</td>
                    <td>3</td>
                    <td>8000</td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                  
                    <td>Indigo</td>
                    <td>Economy</td>
                    <td>Delhi</td>
                    <td>Chennai</td>
                    <td>Yes</td>
                    <td>23-11-2016 / 2pm</td>
                    <td>23-11-2016 / 8pm</td>
                    <td>2</td>
                    <td>3</td>
                    <td>11111</td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                  
                    <td>Ethiad Airways</td>
                    <td>First</td>
                    <td>Mumbai</td>
                    <td>Dubai</td>
                    <td>Yes</td>
                    <td>30-11-2016 / 8pm</td>
                    <td>1-12-2016 / 5am</td>
                    <td>3</td>
                    <td>2</td>
                    <td>13333</td>
                    <td>Edit/Delete</td>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>

</div>
