
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>No of Flight Tickets</label><select id="drpnoOfFlightTickets" class="form-control input-sm" name="Hotel.noOfFlightTickets"><option value>-Select -noOfFlightTickets-</option></select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Flight Name</label><input type="text" id="txtflightName" class="form-control input-sm" name="Hotel.flightName" placeholder="Enter Flight Name">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Ticket Type</label><select id="drpticketType" class="form-control input-sm" name="Hotel.ticketType"><option value>-Select -ticketType-</option></select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Leaving From </label><input type="text" id="txtleavingFrom" class="form-control input-sm" name="Hotel.leavingFrom" placeholder="Enter Leaving From ">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Going To</label><input type="text" id="txtgoingTo" class="form-control input-sm" name="Hotel.goingTo" placeholder="Enter Going To">
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>Departure Date with Time.</label><input type="text" id="dtpdepartureDateWithTime" class="form-control datepicker" name="Hotel.departureDateWithTime">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Arrival Date with Time.</label><input type="text" id="dtparrivalDateWithTime" class="form-control datepicker" name="Hotel.arrivalDateWithTime">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Round Trip</label><input type="radio" id="rdroundTrip" name="Hotel.roundTrip">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>One Way</label><input type="radio" id="rdoneWay" name="Hotel.roundTrip">
        </div>
    </div>
    
    


    <div class="col-md-1">
        <div class="form-group">
            <br>
            <button type="button" id="btnAddRoom" class="btn btn-default bg-blue">+</button>
        </div>
    </div>

</div>

<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">
            <thead>
                <tr>
                    <th>No of Flight Tickets</th>
                    <th>Flight Name</th>
                    <th>Ticket Type</th>
                    <th>Leaving From</th>
                    <th>Going To</th>
                    <th>Departure Date Time</th>
                    <th>Arrival Date Time</th>
                    <th>Round Trip</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>

</div>
