


<div class="row">
    <div class="col-md-2">
        <label>No of Tickets</label>
        <div class="form-group">
            <input type="text" id="txtLocation" class="form-control input-sm" name="Hotel.destination" placeholder="Enter No of Tickets">
        </div>

    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Origin</label>
            <input type="text" id="txtLocation" class="form-control input-sm" name="Hotel.destination" placeholder="Enter Origin">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Destination</label>
            <input type="text" id="txtLocation" class="form-control input-sm" name="Hotel.destination" placeholder="Enter Destination">
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Ticket Type</label>
            <select id="drppackageType" class="form-control input-sm" name="Hotel.packageType">
                <option value="">-Select Ticket Type-</option>
                <option value="">General</option>
                <option value="">second AC </option>
                <option value="">Third Ac</option>
                <option value="">First AC </option>
            </select>
        </div>

    </div>

    <div class="col-md-2">
        <div class="form-group">
            <label>Depart Date</label>
            <input type="text" id="txtLocation" class="form-control input-sm" name="Hotel.destination" placeholder="Enter Depart Date">
        </div>
    </div>

    <div class="col-md-1">
        <div class="form-group">
            <br>
            <button type="button" id="btnAddRoom" class="btn btn-default bg-blue">+</button>
        </div>
    </div>

</div>

<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">
            <thead>
                <tr>
                    <th>No of Ticket</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Depart Date</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Edit/Delete</td>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>

</div>
