

<div class="menu-content">

    <ul>

        <li><a id="a1" href="#">Dashboard</a></li>

        <li><a id="aLogout" href="#">Logout</a></li>
                
                   
    
    </ul>

</div>
