
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>

            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Activity Board</a></li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i>
                    <span>Masters</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">

                    <li><a href="/customer/search-customers"><i class="fa fa-circle-o text-info"></i> Package </a></li>

                    <li><a href="/Hotel/Index"><i class="fa fa-circle-o text-info"></i> Hotel </a></li>

                    <li><a href="/upload-file/index"><i class="fa fa-circle-o text-info"></i> Vendor</a></li>
                    
					<li><a href="/upload-file/index"><i class="fa fa-circle-o text-info"></i> Customer</a></li>

                </ul>
            </li>
            <li><a href="/Enquiry/Index"><i class="fa fa-circle-o text-info"></i> Enquiry </a></li>

            <li><a href="/testimonial/search-testimonials"><i class="fa fa-circle-o text-info"></i> Quotation </a></li>

            <li><a href="/service/search-services"><i class="fa fa-circle-o text-info"></i> Vouchar </a></li>

        </ul>

    </section>
    <!-- /.sidebar -->
</aside>