
<div class="row">

    <div class="table-responsive">

        <table class="table table-bordered" id="tblVehicleDetails">
            <thead>
                <tr>
                    <th>Vehicle Type</th>
                    <th>Vehicle Name</th>
                    <th>Vehicle Price</th>
                </tr>
            </thead>

            <tr>
                <td>Car</td>
                <td>Honda City</td>
                <td>9000</td>
            </tr>

            <tr>
                <td>Bus</td>
                <td>Volvo</td>
                <td>20000</td>
            </tr>


            <tr>
                <td>Sedan</td>
                <td>Toyota Camry</td>
                <td>10500</td>
            </tr>

            <tr>
                <td colspan="3">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblTrainDetails">
                            <thead>
                                <tr>
                                    <th>Vehicle Name</th>
                                    <th>Duration</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default bg-blue">+</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>

            <tbody></tbody>
        </table>
    </div>
</div>
