<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Hotel Type</th>
                    <th>Room Type</th>
                    <th>Room Count</th>
                    <th>Hotel Name</th>
                    <th>Adults Count</th>
                    <th>Children Count</th>                  
                    <th>CheckIn Date</th>
                    <th>CheckOut Date</th>
                    <th>Budget</th>
                    
                </tr>
			</thead>

                <tr>
                    <td>Mumbai</td>
                    <td>5 Star</td>
                    <td>Double Bed Ac</td>                
                    <td>2</td>
                    <td>JW Mariott</td>
                    <td>2</td>
                    <td>3</td>                 
                    <td>6-12-2016</td>
                    <td>12-12-2016</td>
                    <td>65000</td>
                   
                </tr>

				

				

                <tr>
                    <td>Goa</td>
                    <td>4 Star</td>
                    <td>Single Bed Ac</td>
                    <td>2</td>
                    <td>Hyatt</td>
                    <td>4</td>
                    <td>2</td>   
                    <td>1-11-2016</td>
                    <td>3-11-2016</td>
                    <td>40000</td>
                </tr>
				
			

			
                <tr>
                    <td>Banglore</td>
                    <td>4 Star</td>
                    <td>Dormentary</td>
                    <td>3</td>
                    <td>Sofitel</td>
                    <td>1</td>
                    <td>1</td>
                    <td>20-11-2016</td>
                    <td>24-11-2016</td>
                    <td>20000</td>
                </tr>

				<tr>
                   <td colspan="11">
					   <div class="table-responsive">
							<table class="table table-bordered" id="tblRoomDetails">
								<thead>
									<tr>
										<th>Hotel Name</th>
										<th>Check In time</th>
										<th>Check out Time</th>
										<th>Room Capacity</th>
										<th>Price</th>
										<th>Action</th>
									</tr>

									<tr>
										<td>
											<div class="form-group">
												<input type="text" placeholder="" class="form-control input-sm">
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type="text" placeholder="" class="form-control input-sm">
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type="text" placeholder="" class="form-control input-sm">
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type="text" placeholder="" class="form-control input-sm">
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type="text" placeholder="" class="form-control input-sm">
											</div>
										</td>
										<td>										
											<button type="button" class="btn btn-default bg-blue">+</button>
										</td>
									</tr>
								</thead>
							</table>
						</div>
					</td>
                </tr>

            <tbody></tbody>
        </table>
    </div>

</div>