<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">
            <thead>
                <tr>
					<th></th>
                    <th>Tour</th>
                    <th>Catgeory</th>
                    <th>Sub Category</th>
                    <th>Price</th>
                </tr>
                <tr>
					<th>
						<input type="checkbox">
					</th>
                    <td>Banglore - ooty</td>
                    <td>Domestic</td>
                    <td>Family</td>                
                    <td>18,000 per person</td>
                </tr>
                <tr>
					<th>
						<input type="checkbox">
					</th>
                    <td>Banglore</td>
                    <td>Domestic</td>
                    <td>Family</td>                
                    <td>13,000 per person</td>
                </tr>
                <tr>
					<th>
						<input type="checkbox">
					</th>
                    <td>Banglore - Mysore - Ooty</td>
                    <td>Domestic</td>
                    <td>Family</td>                
                    <td>25,000 per person</td>
                </tr>

            </thead>

            <tbody></tbody>
        </table>
    </div>

</div>


<div class="row">
	<div class="col-md-4">
		<button type="button" class="btn btn-success">ok</button>
	</div>
</div>