<div class="row">

    <div class="table-responsive">
        <table class="table table-bordered" id="tblRoomDetails">

            <thead>

                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Ticket Type</th>
                    <th>Departure Date</th>
                    <th>Adults Count</th>
                    <th>Children Count</th>
                    <th>Ticket Delivery</th>
                    <th>Budget</th>

                </tr>

            </thead>

            <tr>
                <td>Mumbai</td>
                <td>Delhi</td>
                <td>General</td>
                <td>20-11-2016</td>
                <td>2</td>
                <td>3</td>
                <td>Email</td>
                <td>4000</td>

            </tr>

            <tr>
                <td colspan="8">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblTrainDetails">
                            <thead>
                                <tr>
                                    <th>Train Name</th>
                                    <th>Departure Time</th>
                                    <th>Duration</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default bg-blue">+</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>


            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Ticket Type</th>
                <th>Departure Date</th>
                <th>Adults Count</th>
                <th>Children Count</th>
                <th>Ticket Delivery</th>
                <th>Budget</th>

            </tr>

            <tr>

                <td>Delhi</td>
                <td>Kolkata</td>
                <td>1 tier AC</td>
                <td>1-12-2016</td>
                <td>3</td>
                <td>2</td>
                <td>Office</td>
                <td>3000</td>

            </tr>


            <tr>
                <td colspan="8">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblTrainDetails">
                            <thead>
                                <tr>
                                    <th>Train Name</th>
                                    <th>Departure Time</th>
                                    <th>Duration</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default bg-blue">+</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>

            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Ticket Type</th>
                <th>Departure Date</th>
                <th>Adults Count</th>
                <th>Children Count</th>
                <th>Ticket Delivery</th>
                <th>Budget</th>

            </tr>

            <tr>

                <td>Kolkata</td>
                <td>Chennai</td>
                <td>2 tier AC</td>
                <td>18-12-2016</td>
                <td>3</td>
                <td>3</td>
                <td>Courier</td>
                <td>5000</td>

            </tr>

            <tr>
                <td colspan="8">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tblTrainDetails">
                            <thead>
                                <tr>
                                    <th>Train Name</th>
                                    <th>Departure Time</th>
                                    <th>Duration</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" placeholder="" class="form-control input-sm">
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default bg-blue">+</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>

            <tbody></tbody>
        </table>
    </div>

</div>